[data-md-color-scheme="experticket"] {
    --md-primary-fg-color:        #51a8c3;
    --md-accent-fg-color:         #86daf6;
    
    --md-primary-fg-color--light: #86daf6;
    --md-primary-fg-color--dark:  #0a7993;
}

[data-md-color-scheme="experticket-dark"] {

    --md-primary-fg-color:        #211915;
    --md-accent-fg-color:         #493f3b;
    
    --md-primary-fg-color--light: #493f3b;
    --md-primary-fg-color--dark:  #000000;
    
   --md-default-fg-color:               hsla(0, 0%, 100%, 1); 
   --md-default-fg-color--light:        hsla(0, 0%, 100%, 0.87); 
   --md-default-fg-color--lighter:      hsla(0, 0%, 100%, 0.32); 
   --md-default-fg-color--lightest:     hsla(0, 0%, 100%, 0.12); 
   --md-default-bg-color:               hsla(232, 15%, 21%, 1); 
   --md-default-bg-color--light:        hsla(232, 15%, 21%, 0.54); 
   --md-default-bg-color--lighter:      hsla(232, 15%, 21%, 0.26); 
   --md-default-bg-color--lightest:     hsla(232, 15%, 21%, 0.07); 
  
   
   --md-code-bg-color:                  hsla(232, 15%, 18%, 1); 
   --md-code-fg-color:                  hsla(60, 30%, 96%, 1); 
  
   
   --md-text-color:                     var(--md-default-fg-color--light); 
   --md-text-link-color:                var(--md-primary-fg-color); 
  
   
   --md-admonition-bg-color:            hsla(0, 0%, 100%, 0.025); 
   --md-admonition-fg-color:            var(--md-default-fg-color); 
  
   
   --md-footer-bg-color:                hsla(232, 15%, 12%, 0.87); 
   --md-footer-bg-color--dark:          hsla(232, 15%, 10%, 1); 
}
